@media (max-width:480px) {

      /* Center the loader */
      #loader {
        left: 40%;
        top: 40%;
      }

    .banner1 {
        padding-top: 105px;
    }
    
    .banner2 {
        padding-top: 105px;
    }
    
    .banner3 {
        padding-top: 105px;
    }

    .site-text {
        font-size: 15px;
      }

      .banner-header {
        font-size: 45px;
      }
    
      .banner-text {
        font-size: 17.5px;
      }

      .slider-item .slider-area {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
      }
    
}