@import url('fonts.css');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
} 
/* #2B2A28 - black */
/* #FF7F00 - Orange */

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #ffffff;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 45%;
    top: 40%;
    z-index: 1;
    width: 80px;
    height: 80px;
    animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2, 1.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0.4;
    }
  }

.text-averia {
    font-family: 'Averia Serif Libre', cursive;
}

.text-barlow {
  font-family: 'Barlow', sans-serif;
}

.text-heebo {
    font-family: 'Heebo', sans-serif;
}

.text-inter {
    font-family: 'Inter', sans-serif;
}

.text-poppins {
    font-family: 'Poppins', sans-serif;
}

.text-raleway {
    font-family: 'Raleway', sans-serif;
}

.text-roboto {
    font-family: 'Roboto', sans-serif;
}

.text-lobster {
    font-family: 'Lobster', cursive;
}

.text-bree {
    font-family: 'Bree Serif', serif;
}

.text-red {
    color: #db0b0b;
}

.text-purple {
    color: #65066C;
}

.text-grey {
    color: #4b4a4a;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 300;
}

.social-link .fab {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.social-link .fab:hover {
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}

.site-text {
  font-size: 16px;
  font-weight: 350;
  line-height: 1.7em;
}

.site-header {
    background: #65066C;
    padding-top: 6px;
    padding-bottom: 6px;
}

.site-header .social-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.divider {
    font-size: 14px;
}

.site-header .social-link .small-text {
    font-size: 13px;
}

.btn-donate {
    color: white;
    background: #FB0304;
    border-radius: 0px;
    border: 1px solid #FB0304;
}

.btn-donate:hover {
    color: #FB0304 !important;
    background: white !important;
    border-radius: 0px;
    border: 1px solid #FB0304 !important;
    box-shadow: 0 80px 0 0  white inset, 0 -80px 0 0  white inset;
}

.navbar {
    background: white;
}

/* Fixed Navbar on Scroll */

.navbar.static {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbar .navbar-brand img {
    width: 80px;
}

.navbar-nav .nav-item.active .nav-link {
    color: #db0b0b;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #db0b0b;
}

/* Navbar Toggler Styles */

.navbar .toggle-btn {
  list-style-type: none;
  padding-inline-start: 0px;
  padding-bottom: 0px !important;
  padding-top: 18px !important;
  border: none;
  cursor: pointer;
}

.navbar .toggle-btn .toggle1 {
  width: 26px;
  height: 3px;
  margin-bottom: 5px;
  background: #db0b0b;
  transition: 0.3s all ease-in-out;
}

.navbar .toggle-btn .toggle2 {
  width: 26px;
  height: 3px;
  margin-bottom: 5px;
  background: #db0b0b;
  transition: 0.3s all ease-in-out;
}

.navbar .toggle-btn .toggle3 {
  width: 26px;
  height: 3px;
  margin-bottom: 5px;
  background: #db0b0b;
  transition: 0.3s all ease-in-out;
}


.navbar .toggle-btn.opened .toggle1 {
  width: 26px;
  height: 3px;
  transform: rotate(40deg);
  background: #db0b0b;
  transition: 0.3s all ease-in-out;
}

.navbar .toggle-btn.opened .toggle2 {
  width: 0px;
  height: 0px;
  margin-bottom: 0px;
  display: none;
  transition: 0.3s all ease-in-out;
}

.navbar .toggle-btn.opened .toggle3 {
  width: 26px;
  height: 3px;
  margin-top: -8px;
  margin-bottom: 5px;
  transform: rotate(-40deg);
  background: #db0b0b;
  transition: 0.3s all ease-in-out;
}

/* Banner Styles */

.banner1 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)) , url(../img/ngo-black-ban2.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
    padding-top: 120px;
}

.banner2 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)) , url(../img/black-people-three.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
    padding-top: 120px;
}

.banner3 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)) , url(../img/end-rape-three.jpg) no-repeat center;
  background-size: cover;
  min-height: 500px;
  padding-top: 120px;
}


.btn-banner {
  background: #db0b0b;
  color: white;
  border-radius: 0px;
  border: 1px solid #db0b0b;
  font-size: 18px;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.btn-banner:hover {
  color: #db0b0b !important;
  background: white !important;
  border: 1px solid white !important;
  box-shadow: 0 80px 0 0  white inset, 0 -80px 0 0  white inset;
}

.btn-read {
  background: #db0b0b;
  color: white;
  border-radius: 0px;
  border: 1px solid #db0b0b;
  font-size: 18px;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.btn-read:hover {
  color: #db0b0b !important;
  background: white !important;
  border: 1px solid #db0b0b !important;
  box-shadow: 0 80px 0 0  white inset, 0 -80px 0 0  white inset;
}

.fade-banner .carousel-arrow {
    border: 0;
    background: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: none !important;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    font-size: 20px;
    z-index: 5;
    top: 49%;
    transform: translate(0, -49%);
    outline: 0;
    cursor: pointer;
  }

  .fade-banner:hover .carousel-arrow {
    display: block !important;
  }

  /* Modificação só pra a seta do próximo carousel ficar na direita */

  .fade-banner .carousel-arrow.prev {
    left: 20px;
  }

  .fade-banner .carousel-arrow.next {
    right: 20px;
  }

  .slider-dots {
    list-style: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .slider-dots li {
    display: inline-block;
    margin: 0 8px;
  }

  .slider-dots li > button {
    width: 17px;
    height: 17px;
    border: 2px solid white;
    background: transparent;
    color: transparent;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }

  .slider-dots li.slick-active > button {
    background: white;
  }

  .banner-header {
    font-size: 50px;
  }

  .banner-text {
    font-size: 18px;
  }

  .mission-area .mission-bg {
    background: #65066C;
    height: 100%;
  }

  .img-mission {
    width: 100%;
    height: 100%;
  }

  .main-mission {
    background: white;
  }

  .mission-list {
    list-style-type: none;
    padding-inline-start: 0px;
  }

  .mission-list li {
    position: relative;
    line-height: 1.7em;
    margin: 10px 0px 10px 0px;
  }

   .mission-list li .bullet {
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 20px;
    font-size: 10px;
    color: #db0b0b;
   }

   .mission-list li .text {
    margin-left: 20px;
    font-size: 16px;
   }

   .hover-header {
    transition: all 0.5s ease-in-out;
   }

   .red-bot {
    background: #db0b0b;
    width: 50px;
    height: 2px;
    transition: all 0.5s ease-in-out;
   }

   .hover-header:hover .red-bot {
     width: 100px;
   }

   .white-bot {
    background: white;
    width: 50px;
    height: 2px;
    transition: all 0.5s ease-in-out;
   }

   .hover-header:hover .white-bot {
     width: 100px;
   }

   /* What we do area */

   .offer-area {
    background: white;
    box-shadow: 0 3px 10px #6b6b6be7;
    cursor: pointer;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
   }

   .offer-icon span {
    background: #db0b0b;
    color: white;
    padding: 20px;
    font-size: 30px;
    border-radius: 50%;
   }

   /* .offer-area:hover {
     margin-top: -10px;
     background: #65066C;
   } */

   /* .offer-area:hover .offer-icon span {
    background: white;
    color: #65066C;
   }

   .offer-area:hover h4 {
    color: white;
   } */ 

   /* .achievement-area {
    background: #e9acee;
   } */

   .achieve-area {
    border-left: 3px solid #db0b0b;
    min-height: 90px;
    background: white;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
   }

   /* Carousel Slider Center Mode */

   .my-slider .slider-arrow {
    border: 0;
    background: #db0b0b;
    display: none !important;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    font-size: 20px;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
  }

  .my-slider:hover .slider-arrow {
    display: block !important;
  }
  
  /* Modificação só pra a seta do próximo carousel ficar na direita */
  
  .my-slider .slider-arrow.next {
    right: 0;
  }

  .myslider-dots {
    list-style: none;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  
  .myslider-dots li {
    display: inline-block;
    margin: 0 8px;
  }
  
  .myslider-dots li > button {
    width: 8px;
    height: 10px;
    border: none;
    background: #65066C;
    font-size: 0px;
    /* color: #65066C; */
    /* border-radius: 50%; */
    cursor: pointer;
    outline: none;
  }
  
  .myslider-dots li.slick-active > button {
    background: #db0b0b;
  }

  .slider-item .slider-area {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .slider-item .slider-area .img-slider {
    width: 100%;
    /* height: 200px; */
  }

  .project-slide {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  .project-slide:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .testimonial-area {
    background: linear-gradient(#5e0564d3 , #49034ed3) , url(../img/black-people-four.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 500px;
    padding-bottom: 50px;
  }

  .testi-slider {
    position: relative;
  }

  .testi-slider button.prev {
    right: 60px;
}

  .testi-slider button.next {
    right: 0;
}

.testi-slider button.testi-arrow {
    position: absolute;
    border: 0;
    padding: 0;
    z-index: 2;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    color: white;
    background: none;
    margin: 0 auto;
    bottom: 0;
    border: 1px solid white;
}

.testi-slider button.testi-arrow:hover {
  color: #db0b0b;
  border: 1px solid white;
  background: white;
}

.testi-slider button.testi-arrow:focus {
  color: #db0b0b;
  border: 1px solid white;
  background: white;
}

.img-testi {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.paa-group {
  font-family: 'Raleway', sans-serif;
  color: #1a1919;
}

.paa-group .paa-control {
  border-radius: 0px !important;
  border: 1px solid #757575;
  color: #757575;
}

.paa-group .paa-control[placeholder] {
  color: #757575 !important;
}

.paa-group .paa-control:focus {
  box-shadow: none;
  border-color: #db0b0b;
  color: #db0b0b;
}

.img-member {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

/* .testi-card-area {

} */

  .footer-area {
    background: #1a1919;
  }

  .img-footer {
    width: 80px;
  }

  .btn-more {
    background: #db0b0b;
    color: white;
    border-radius: 0px;
    border: 1px solid #db0b0b;
    font-size: 14px;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  
  .btn-more:hover {
    color: #db0b0b !important;
    background: white !important;
    border: 1px solid #db0b0b !important;
    box-shadow: 0 80px 0 0  white inset, 0 -80px 0 0  white inset;
  }

  .footer-text {
    font-size: 14px;
    font-weight: 300;
  }

  .foot-list {
    list-style-type: none;
    padding-inline-start: 0;
  }

  .foot-list li {
     line-height: 2em;
  }

  .foot-list li a {
    color: rgba(255,255,255,.5);
    font-size: 14px;
    text-decoration: none;
  }

  .foot-list li a:hover {
    color: white;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #db0b0b;
    color: white;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
  }
  
  #myBtn:hover {
    background-color: #db0b0b;
  }

  .social-area a {
    color: white;
    font-size: 18px;
  }

  .copyright-text {
    font-size: 13px;
    color: white;
  }

  /* .mission-list li span {
    position: absolute;
    top: 0;
    left: 0;
  } */

/* .banner-area {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)) , url(../img/violence-banner.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
} */


/* Other Pages Banners */
.other-banners {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)) , url(../img/black-people-four.jpg) no-repeat center;
  background-size: cover;
  min-height: 400px;
  padding-top: 100px;
}

.other-banners h1 {
  font-size: 42px;
}

.other-banners p {
  font-size: 17px;
}